*{
    margin:0;
    padding:0;
    overflow-x: hidden;
    box-sizing: border-box;
}
section{
    height: 775px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-image: url("assets/image.png");
    background-repeat: no-repeat;
    background-size: cover;
   
}
#BorderDiv{
    height: 600px;
    width: 1200px;
      display:flex;
    flex-wrap: wrap;
    flex-direction: row;
     justify-content: center;
    align-content: center;
    align-items: center;
    background-color:ffffff100;
    border-radius: 10px;
    
}
#inParentDiv{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
     justify-content: center;
    align-content: center;
    align-items: center;
    height: 600px;
    background-color:#00000000;
    width: 1200px;
    border-radius: 10px;
}
#child1{
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: row;
     justify-content: start; */
    padding: 15px 25px 0px 25px;
    background-color:rgb(0, 0, 0);
    height: 500px;
    width: 500px;
    border-radius: 10px;
}
#child1 a{
    color:white;
  float: right;
}
#child1 img{
   
    width: 200px;
   
}
#child1 a:hover{
    color:orange;
}
#child1 small{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white;
}

#child1:hover{
    transform: scale(1.1);
    transition: 0.3s ease-in;
}
#child2{
     display: flex;
    flex-wrap: wrap;
    flex-direction: row;
     justify-content: center;
    /* align-content: center;
    align-items: center; */
    background-color:rgb(255, 252, 252);
    height: 500px;
    width: 500px;
    border-radius: 10px;
}
#child2:hover{
    background-color: rgb(229, 233, 234);
    transform: scale(1.1);
    transition: 0.3s linear;
}
#form{
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
     justify-content: center;
    align-content: center;
    align-items: center;
     width: 400px;
     
}
#email{
    padding-left: 10px;
    border: none;
    box-shadow: 1px 1px 5px skyblue;
    height: 37px;
    width: 200px;
    border-radius: 15px;
}
#name{
    padding-left: 10px;
    border: none;
    box-shadow: 1px 1px 5px skyblue;
    height: 37px;
    width: 200px;
    border-radius: 15px;
}
#key{
    padding-left: 10px;
    border: none;
    box-shadow: 1px 1px 5px skyblue;
    height: 37px;
    width: 200px;
    border-radius: 15px;
}
h3{
    text-transform: uppercase;
    text-align: center;
}
#login{
    border: none;
    box-shadow: 1px 1px 5px skyblue;
    height: 37px;
    width: 200px;
    border-radius: 15px;
}
#login:hover{
    background-color:grey;
    color:white;
}

input:focus{
    outline: none;
}
#Bottomfoot{
     display: flex;
     /* background-color: aqua; */
    flex-wrap: wrap;
    height: 20px;
     width: 300px;
    flex-direction: row;
     justify-content:space-between;
}
a{
    text-decoration: none;
}
@media (min-width:100px) and (max-width:1000px){
    #child1{
        display: none;
    }
}

